# Git
.git
.gitignore

# Node
node_modules
npm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose*.yml
Dockerfile
.dockerignore
.docker/stack.env

# Docs
*.md
LICENSE
CHANGELOG*

# Dev tools
.env
.env.*
!.env.example
phpunit.xml
.pint.json
rector.php
phpstan*

# Backup folders
4Dev
.planning
