services:
  app:
    volumes:
      - .:/var/www/html
      - getfy_storage:/var/www/html/storage
      - getfy_env:/var/www/html/.docker
  queue:
    volumes:
      - .:/var/www/html
      - getfy_storage:/var/www/html/storage
      - getfy_env:/var/www/html/.docker
